# Terraform working dir (all envs)
**/.terraform/
envs/**/terraform.tfvars

# Terraform state
**/*.tfstate
**/*.tfstate.*

# Terraform plan files
**/*.tfplan

# Variable files (often secrets)
terraform.tfvars
*.auto.tfvars

# Crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc

# SSH / TLS keys
**/*.pem
